<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.situ.ssm.user.dao.UserDao">
	<insert id="save" parameterType="User" useGeneratedKeys="true" keyColumn="ROW_ID" keyProperty="rowId">
		INSERT INTO TB_USER(USER_NAME,USER_AGE,USER_BIRTHDAY)VALUES(#{userName},#{userAge},#{userBirthday})
	</insert>
	
	<select id="find" resultType="User">
		SELECT ROW_ID,USER_NAME,USER_AGE,USER_BIRTHDAY FROM TB_USER
	</select>
</mapper>